<div>
    {{#if welcomeMessage}}
        <p>{{welcomeMessage}}</p>
    {{/if}}

    {{#if people}}
        <h2>Our Team</h2>
        <ul>
            {{#each people}}
                <li>{{this.name}} - {{this.role}}</li>
            {{/each}}
        </ul>
    {{else}}
        <p>No people to show!</p>
    {{/if}}

    {{#if items}}
        <h2>Items</h2>
        <ul>
            {{#each items}}
                <li>
                    <a href="/items/{{this.id}}">{{this.name}}</a> - 
                    {{this.description}} - 
                    Price: {{formatPrice this.price}}
                </li>
            {{/each}}
        </ul>
    {{/if}}

    {{#if item}}
        <h2>{{item.name}}</h2>
        <p>{{item.description}}</p>
        <p>Price: {{formatPrice item.price}}</p>
    {{/if}}

    {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
    {{/if}}

    {{#if showImage}}
        <img src="/images/sample.jpg" alt="Sample Image" width="300">
    {{/if}}
</div>